
{% extends 'home/base.html'%}
{% load staticfiles%}
{% block css %}
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css">

<link rel="stylesheet" type="text/css" href="{% static 'css/page.css' %}">
<script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" type="text/javascript"></script>

<link href='https://fonts.googleapis.com/css?family=Droid+Serif|Roboto|Cormorant+Garamond|Open+Sans:400,700' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="https://s3-us-west-2.amazonaws.com/s.cdpn.io/148866/reset.css">
<link rel="stylesheet" type="text/css" href="{% static 'css/about.css' %}">


{% endblock %}  
{% block body %}
<section> 
  <a href="#" data-activates="slide-out" class="button-collapse  right nav-btn"><i class="material-icons">dehaze</i></a>
  <div class="grey darken-4 header"><h1 class="center heading">About Us</h1>
    <h3 class="center subheading">"Winning ain't Everything...it's the only thing!"</h3></div>
  </section>
  <div class="container white grey-text darken-4 z-depth-1 about-text center">
    <div class="flow-text">

      <blockquote class="black-text">
        <strong>"The roar of the champions and the cheer of the audience”-are what we get to hear 
        in the season of Spring embarking the start of our NATIONAL SPORTS FEST “TWARAN”.</strong>
      </blockquote>
      <p style="font-family:'Montserrat'; color:#212121">Twaran is a 3 day extravaganza of sports held under the flag of ABV-IIITM to provide a platform for students from institutes all over the country to exhibit their marvellous talent and skills by competing with the best upcoming sports persons in the country in a superbly charged and competitive ambience with state-of-art sports facilities. </p>
      <blockquote class="black-text">
        <strong>“Success isn’t given. It’s Earned. 
          On the track, on the field, In the Gym. 
        With Blood, Sweat, And the occasional Tear.”</strong>
      </blockquote>
      
    </div>
    
  </div>

  <div class="video-container white z-depth-1 full-width container ">
    <iframe width="853" height="480" src="https://www.youtube.com/embed/MCsYNlOm1sk" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
  </div>
  <div class="container white grey-text z-depth-1 about-text center">
    <div class="flow-text">

      <p>Let’s play to strengthen our bonds, to become a symbol of friendship and unity, to witness those heart stopping crucial moments of the game and most importantly let’s play to increase the mutual understanding and to foster cooperation level among various institutes so that we stand together united. 
        A majority of the games are held under floodlights including basketball, volleyball, table tennis and badminton. Several others like cricket, football, lawn tennis take place on the lush green fields during the day. Informal events like carom, chess and marathon add exuberance to the heated environment of Twaran.
      </p>
    </div>
    
  </div>


  <section id="cd-timeline" class="cd-container">
    <div class="cd-timeline-block">
      <div class="cd-timeline-img cd-picture">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/4f/Ei-heart.svg/1000px-Ei-heart.svg.png" alt="Picture">
      </div> <!-- cd-timeline-img -->

      <div class="cd-timeline-content">
        <h2>"Extravaganza"</h2>
        <p>

What a fest! What an experience. TWARAN is unique, and the most exciting sporting extravaganza ever.
</p>
        <a href="#0" class="cd-read-more">Samyak Ponangi</a>
        <span class="cd-date"><i class="material-icons">face</i></span>
      </div> <!-- cd-timeline-content -->
    </div> <!-- cd-timeline-block -->

    <div class="cd-timeline-block">
      <div class="cd-timeline-img cd-movie">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/4f/Ei-heart.svg/1000px-Ei-heart.svg.png" alt="Movie">
      </div> <!-- cd-timeline-img -->

      <div class="cd-timeline-content">
        <h2>Unique</h2>
        <p>
A National level sporting meet to unite students all over from India!
</p>
        <a href="#0" class="cd-read-more">Anubhab Deb</a>
        <span class="cd-date"><i class="material-icons">face</i></span>
      </div> <!-- cd-timeline-content -->
    </div> <!-- cd-timeline-block -->


    <div class="cd-timeline-block">
      <div class="cd-timeline-img cd-location">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/4f/Ei-heart.svg/1000px-Ei-heart.svg.png" alt="Picture">
      </div> <!-- cd-timeline-img -->

      <div class="cd-timeline-content">
        <h2>"Motivating"</h2>
        <p>An amazing platform, motivates students to apprise and foster their talents.</p>
        <a href="#0" class="cd-read-more">Sania Shaikh</a>
        <span class="cd-date"><i class="material-icons">face</i></span>
      </div> <!-- cd-timeline-content -->
    </div> <!-- cd-timeline-block -->

    <div class="cd-timeline-block">
      <div class="cd-timeline-img cd-picture">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/4f/Ei-heart.svg/1000px-Ei-heart.svg.png" alt="Location">
      </div> <!-- cd-timeline-img -->

      <div class="cd-timeline-content">
        <h2>"Amazing!"</h2>
        <p>A great platform to showcase your talent, fine tune your skills and also to create memories for life. To put it simply, the best thing at IIITM!
</p>
        <a href="#0" class="cd-read-more">Aman Shaikh</a>
        <span class="cd-date"><i class="material-icons">face</i></span>
      </div> <!-- cd-timeline-content -->
    </div> <!-- cd-timeline-block -->

    <div class="cd-timeline-block">
      <div class="cd-timeline-img cd-movie">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/4f/Ei-heart.svg/1000px-Ei-heart.svg.png" alt="Location">
      </div> <!-- cd-timeline-img -->

      <div class="cd-timeline-content">
        <h2>"Fantastic"</h2>
        <p>
Been there and it is very "fantastic" and with the young brains it is always a new and enthusiastic atmosphere.</p>
        <a href="#0" class="cd-read-more">Getta Desai</a>
        <span class="cd-date"><i class="material-icons">face</i></span>
      </div> <!-- cd-timeline-content -->
    </div> <!-- cd-timeline-block -->

    <div class="cd-timeline-block">
      <div class="cd-timeline-img cd-location">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/4f/Ei-heart.svg/1000px-Ei-heart.svg.png" alt="Movie">
      </div> <!-- cd-timeline-img -->


  </section> <!-- cd-timeline -->
  <footer class="page-footer grey darken-4">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">Twaran 2K18</h5>
                <p class="grey-text text-lighten-4">National Level Sports Fest Organised by ABV-IIITM Gwalior.. Twaran, Under the Flag of ABV-IIITM Gwalior offers a platform for students from all over India to exhibit their talent and compete with the best upcoming sport persons in the country..</p>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Links</h5>
                <ul>
                  <li><a class="grey-text text-lighten-3" href="{% static 'ins.pdf' %}">Instructions</a></li>
                  <li><a class="grey-text text-lighten-3" href="{% static 'rule.pdf' %}">Rule Book</a></li>
                  <li><a class="grey-text text-lighten-3" href="https://www.facebook.com/twaran.iiitm/">Facebook</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            © 2018 Copyright | Twaran
            <a class="grey-text text-lighten-4 right" href="#!">ABV-IIITM Gwalior</a>
            </div>
          </div>
        </footer>

{% endblock %}


{% block js %}
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script type="text/javascript" src="{% static 'js/about.js' %}"></script>
{% endblock %}
</body>
</html>